body{
    background-color: #000;
}
#landing-header{
    text-align: center;
    color:#fff;
    position: relative;
    z-index: 1;
    padding-top: 35vh;
}
.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 35s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1458852535794-f5552aa49872?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c5c493f28d10dbd08143a13a3f845815&auto=format&fit=crop&w=750&q=80);
  
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1418225043143-90858d2301b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d9a782125e97098807fe4df217421ea&auto=format&fit=crop&w=750&q=80);
  animation-delay: 7s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1486679679458-629f321a617c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce0cc0245473e7cb6f7a765e181e8a1c&auto=format&fit=crop&w=1510&q=80);
  animation-delay: 14s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1482376292551-03dfcb8c0c74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b556fbaeeab2170e3bc8a0c44c2eb2dc&auto=format&fit=crop&w=751&q=80);
  animation-delay: 21s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ba3fa37b995a705a01d022cada13f726&auto=format&fit=crop&w=751&q=80); 
  animation-delay: 28s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 0.9;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 0.9;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 0.9;
}